@font-face
{
    font-family:"Caviar Dreams";
    src:url("fonts/CaviarDreams.ttf");
}

@font-face
{
    font-family:"Learning Curve";
    src:url("fonts/LearningCurve.ttf");   
}


body, html {
    height: 100%;
    font-family:"Caviar Dreams";
    font-color:"white";
}

div.tab {
    font-family:"Learning Curve";
    font-size:14px;
}

/*.parallax { 
    /* The image used */
    background-image: url("WindowDroplets.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/


/* TABS */
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid black;
    background-color: #ccc;
}

/* Style the links inside the tab */
div.tab a {
    float: center;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 55px;
}

/* Change background color of links on hover */
div.tab a:hover {
    background-color: #3879CF;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
    background-color: #eee;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid blue;
    border-top: none;
    font-size:20px;
}


/*.bg {
  background: url('WindowDroplets.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}*/

.jumbotron {
  margin-bottom: 0px;
  height: 350px;
  color: white;
  text-shadow: red 0.3em 0.3em 0.3em;
  background: transparent;
}
