@font-face
{
    font-family:"Caviar Dreams";
    src:url("fonts/CaviarDreams.ttf");
}

@font-face
{
    font-family:"Learning Curve";
    src:url("fonts/LearningCurve.ttf");   
}


body, html {
    height: 100%;
    font-family:"Caviar Dreams";
}

div.tab {
    font-family:"Learning Curve";
}

.parallax { 
    /* The image used */
    background-image: url("WindowDroplets.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* TABS */
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid black;
    background-color: #ccc;
}

/* Style the links inside the tab */
div.tab a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
div.tab a:hover {
    background-color: #3879CF;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
    background-color: #eee;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid blue;
    border-top: none;
}
