
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    	<meta name="viewport" content="width=device-width, initial-scale=1">
	    	<title>Abhishek Kaul</title>
	  	<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="css/style.css"> -->
  	</head>
  <body>
    
	  <div class="jumbotron">
	    <div class="tab">
      		<a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Home')">Home</a>
      		<a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Projects')">Projects</a>
      		<a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'About me')">About me</a>
	    </div>
	  </div>
    
	<div id="Home" class="tabcontent">
		<h1>Hello!</h1>
		<br> 
		<p> Here are some links to other places you can find me online: </p>
		<br>
		<br>
		<a href="http://www.7cups.com/@abhimohit99"><img src="//d37v7cqg82mgxu.cloudfront.net/img/7CupsOfTea_SM.jpg" style="height:50px;width:50px;border:none;" /></a>
		<br>
		<a href="https://www.github.com/abhimohit99"><img src="https://raw.githubusercontent.com/abhimohit99/akaul.me/master/images/GitHub.png"/></a>
		<br>
		<a href="https://www.linkedin.com/in/abhimohit99"><img src="https://raw.githubusercontent.com/abhimohit99/akaul.me/master/images/LinkedIn.png"/></a>
	</div>

	  <div id="Projects" class="tabcontent">
		  <div class="embed-responsive-pdf" style="padding-bottom:100%">
			  <object data="/Résumé.pdf" type="application/pdf" width="100%" height="100%"></object>
		  </div>
	</div>

	<div id="About me" class="tabcontent">

	  <p>Content coming soon! Until then, here's a professional-looking picture of myself:</p>
	  <br>
	  <img src="images/Professional.jpg" alt="Professional" style="width:160px;height:500px">

	</div>


	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	  <script>
		  function openTab(evt, tabName) {
		    // Declare all variables
		    var i, tabcontent, tablinks;
		    // Get all elements with class="tabcontent" and hide them
		    tabcontent = document.getElementsByClassName("tabcontent");
		    for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		    }
		    // Get all elements with class="tablinks" and remove the class "active"
		    tablinks = document.getElementsByClassName("tablinks");
		    for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		    }
		    // Show the current tab, and add an "active" class to the link that opened the tab
		    document.getElementById(tabName).style.display = "block";
		    evt.currentTarget.className += " active";
		}
		  
		  var jumboHeight = $('.jumbotron').outerHeight();
		  function parallax(){
			  var scrolled = $(window).scrollTop();
			  $('.bg').css('height', (jumboHeight-scrolled) + 'px');
		  }
		  $(window).scroll(function(e){
			  parallax();
		  });
	  </script>
	  
    <div class="wrapper">
      <section>
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="style.css">
      </section>
      <footer>  
        <p class="">This site is maintained by <a href="https://github.com/abhimohit99">@abhimohit99</a></p>
      </footer>
    </div>
      
	  
  </body>
</html>
