<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Abhishek Kaul</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width">
  </head>
  
  <body>    
    
    <div class="tab">
      <a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Home')">Home</a>
      <a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Projects')">Projects</a>
      <a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'About me')">About me</a>

    </div>  
    
    
<div id="Home" class="tabcontent">
  <h1>Welcome</h1>
  <br>
  Nice to see you here :) I'm currently going sorting through content and design stuff to add, but my resumé is available under the "Proje" section for your perusal!
  <br>
</div>

<div id="Projects" class="tabcontent">
   My <a href="Résumé.pdf"> résumé </a>
  <br>
  <p>Add stuff.</p>
</div>
    
<div id="About me" class="tabcontent">

  <p>Add stuff.</p> 
</div>

    
    
    <script>
      function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}
    </script>
    
    
    
    
    <div class="wrapper">
      <header>
        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This site is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
